@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Inter:wght@600&display=swap');

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#B7C4CF, #EEE3CB);
    display: flex;
    justify-content:center;
    align-items: center;
}

p {
    background-color: #D7C0AE;
    font-family: 'Cairo', sans-serif;
    width: 50%;
    text-align: center;
    font-size: 4rem;
    color: #967E76;
    box-shadow: 0 0 30px 10px  #D7C0AE;
}